@forward "../common/_calendar.scss" with(
    $header-font-size: 0.9rem,
    $font-size: 1rem,
    $line-height: 1.7em,
);

table#calendar {
    margin-bottom: 1em;

    caption {
        margin-bottom: 0.5em;
    }
}

table.year-month {
    margin-top: 1em;

    caption {
        display: table-caption;
        margin: 0.25em 0 0.25em;
        pointer-events: none;
    }
}
