@use "_metrics.scss" as *;
@use "../common/_colors.scss";
@use "../common/_post.scss";

article {
    @include post.body;

    position: relative;

    &:not(:last-of-type) {
        margin-bottom: 2em;
    }

    p {
        line-height: 1.6;
        font-weight: 400;
    }

    > aside {
        position: absolute;
        // articleの高さ - h3の高さ - h3ボーダー - timestamp高さ
        bottom: calc(100% - #{$post-head-line-height} - 1px - 1em);
        text-align: start;
        font-size: max(0.8rem, 10px);
        line-height: 1;
        color: colors.$text-dim;
    }

    time {
        display: block;
        font-feature-settings: "tnum";

        &:not(:last-child) {
            // 最後の要素（最終更新）以外は非表示
            display: none;
        }
    }

    a.permalink {
        display: none;
    }
}
