@use "_metrics.scss" as *;
@forward "../common/_form.scss" with (
    $new-post-textarea-height: 12em,
);

form:not(#search-box) {
    input[type=text], input[type=password], textarea {
        font-size: 16px; // iOS Safariのズーム防止
    }

    input[type=text], input[type=password] {
        transform: scale(0.8);
        margin: -0.125em -12.5%;
        width: 125%;
    }

    textarea {
        transform: scale(0.8);
        margin: -1.25em -12.5%;
        width: 125%;
    }
}

form#search-box {
    justify-content: center;

    input[type=text] {
        font-size: 16px;
    }
}
