@use "../common/metrics" as *;
@forward "../common/_metrics.scss";
$global-nav-height: 2rem;
$footer-top-margin: 2rem;
$footer-bottom-margin: calc(1em + env(safe-area-inset-bottom, 0));
$post-head-line-height: 1.5rem;
