<script type="text/javascript">window.MathJax = {{- context.config.mathjax.options|safe -}};</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
