<script type="text/javascript">window.MathJax = {{- context.config.mathjax.options|safe -}};</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML" defer></script>
<script type="text/javascript" src="//s.hatena.ne.jp/js/HatenaStar.js"></script>
<script type="text/javascript">
Hatena.Star.Token = "{{ context.config.hatena_star_token }}";
Hatena.Star.SiteConfig = {
    entryNodes: {
        "main.posts article": {
            uri: "aside a.permalink",
            title: "h3",
            container: "h3"
        }
    }
};
// settings for autopagerize/autopatchwork with hatena-star.
if (window.addEventListener) {
    var NodeInsert = function(evt) { Hatena.Star.EntryLoader.loadNewEntries(evt.target); };
    window.addEventListener("AutoPagerize_DOMNodeInserted", NodeInsert, false);
    window.addEventListener("AutoPatchWork.DOMNodeInserted", NodeInsert, false);
}
</script>
<style>
.hatena-star-star-container, .hatena-star-comment-container {
    display: inline-block;
    font-size: 1rem;
    line-height: 16px;
    vertical-align: top;
}
.hatena-star-star-container a {
    display: inline-block;
    margin-top: 1px;
    vertical-align: middle;
}
</style>
