{% extends "base.html" %}

{%- block variables -%}
    {%- let mode_class = "about" -%}
    {%- let subtitle = "about".to_owned() -%}
{%- endblock -%}

{%- block content -%}
<article>
    <header>
        <h3>このサイトのこと</h3>
    </header>
    {{ context.converted_about() | safe }}
</article>
<h3>関連サイト</h3>
<p>
    {{ context.config.author.name }}によるその他の活動です：
</p>
<dl>
    {% for link in context.config.site.links -%}
        <dt {% if !link.active -%}class="inactive"{%- endif -%}>{{ link.name }}{% if !link.active %} (inactive){%- endif -%}</dt>
        <dd><a rel="external" href="{{ link.url }}">{{ link.url }}</a></dd>
    {% endfor -%}
</dl>
{%- endblock -%}
