{% extends "base.html" %}

{%- block variables -%}
    {%- let mode_class = "admin" -%}
    {%- let subtitle = "".to_owned() -%}
{%- endblock -%}

{%- block top_nav -%}
    <li><a href="/" title="トップページ" accesskey="1">diary</a></li>
    <li><a href="/admin/new" title="新規作成" accesskey="6">new</a></li>
    <li><a href="/logout" title="ログアウト" accesskey="9">logout</a></li>
{%- endblock -%}

{%- block content -%}
    <header>
        <h3>管理ページ</h3>
    </header>
    <dl>
        <dt><a href="/admin/new" title="新規作成">new</a></dt>
        <dd>あたらしい記事を作成します</dd>
        <dt><a href="/logout" title="ログアウト">logout</a></dt>
        <dd>ログアウトします</dd>
    </dl>
{%- endblock -%}
