{%- let mode_class -%}
{%- block variables -%}
    {%- let mode_class = "" -%}
{%- endblock -%}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>{{ title }} - andante</title>
        <link rel="stylesheet" href="/static/main.css">
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
            <nav id="global-nav">
                <h2>Menu</h2>
                <ul>
                    <li><a href="/" title="トップページ" accesskey="1">diary</a></li>
                    <li><a href="/about" title="このサイトについて" accesskey="2">about</a></li>
                    <li><a href="/atom" title="Atomフィード" accesskey="3">Atom</a></li>
                </ul>
            </nav>
        </header>
        <main class="{{ mode_class }}">
            {% block content %}{% endblock %}
        </main>
        <nav id="pager-nav">
            <ul>
                <li>{% block prev_page %}{% endblock %}</li>
                <li>{% block next_page %}{% endblock %}</li>
            </ul>
        </nav>
        <nav id="side-nav" class="{{ mode_class }}"></nav>
        <footer>
            <address>Presented by κねこせん under <a rel="external" href="http://www.kmonos.net/nysl/nysdl.ja.html">NYSDL</a>.</address>
        </footer>
        <script type="module" src="/static/index.js"></script>
    </body>
</html>
