{% extends "base.html" %}

{%- block variables -%}
    {%- let mode_class = "posts" -%}
    {%- let subtitle = page.condition.to_string() -%}
{%- endblock -%}

{%- block content -%}
    {%- for post in page.posts %}
        {%- include "_post.html" %}
    {% endfor -%}
{%- endblock -%}

{%- block prev_page -%}
    {%- match page.prev_href() -%}
        {%- when Some with (href) -%}
            <a href="{{ href }}" rel="prev">prev</a>
        {%- when None -%}
    {%- endmatch -%}
{%- endblock -%}

{%- block next_page -%}
    {%- match page.next_href() -%}
        {%- when Some with (href) -%}
            <a href="{{ href }}" rel="next">next</a>
        {%- when None -%}
    {%- endmatch -%}
{%- endblock -%}
