{% extends "base.html" %}

{%- block variables -%}
    {%- let mode_class = "posts" -%}
    {%- let subtitle = page.condition.subtitle() -%}
{%- endblock -%}

{%- block content -%}
    {%- for post in page.posts %}
        {%- include "_post.html" %}
    {% endfor -%}
{%- endblock -%}

{%- block prev_page -%}
    {%- match page.prev_page -%}
        {%- when AdjacentPage::Condition with (prev_condition) -%}
            <a href="/{{ prev_condition.to_string() }}">prev</a>
        {%- when AdjacentPage::Page with (number) -%}
            <a href="/{{ page.condition.to_string() }}?page={{ number }}">prev</a>
        {%- when AdjacentPage::None -%}
    {%- endmatch -%}
{%- endblock -%}

{%- block next_page -%}
    {%- match page.next_page -%}
        {%- when AdjacentPage::Condition with (next_condition) -%}
            <a href="/{{ next_condition.to_string() }}">next</a>
        {%- when AdjacentPage::Page with (number) -%}
            <a href="/{{ page.condition.to_string() }}?page={{ number }}">next</a>
        {%- when AdjacentPage::None -%}
    {%- endmatch -%}
{%- endblock -%}
