{% extends "base.html" %}

{% block content %}
    {% for post in page.posts %}
        {% include "_post.html" %}
    {% endfor %}
{% endblock %}

{%- block prev_page -%}
    {%- match page.prev_page -%}
        {%- when Some with (page) -%}
            <a href="/{{ date }}?page={{ page }}">prev</a>
        {%- when None -%}
    {%- endmatch -%}
{%- endblock -%}

{%- block next_page -%}
    {%- match page.next_page -%}
        {%- when Some with (page) -%}
            <a href="/{{ date }}?page={{ page }}">next</a>
        {%- when None -%}
    {%- endmatch -%}
{%- endblock -%}
