$background: #faf8f4;
$border1: #ddd;
$border2: #eee;
$text: #333;
$text-dim: #999;
$link-hover: #448;
$menu: #999;
$menu-dim: #ddd;
$input: #eee;
$focused-input: #e3e3e3;

@mixin link-hover {
    a {
        &:hover {
            color: $link-hover;
        }
    }
}
