@forward "../common/_calendar.scss" with (
    $header-font-size: 0.9rem,
    $font-size: 1rem,
);

table.year-month {
    tbody {
        &:not(.expanded) {
            line-height: 0;
            height: 0;
            opacity: 0;
        }
    }
}
