@forward "../common/_metrics.scss";
$max-width: 832px;
$sidebar-width: 144px;
$sidebar-margin: 16px;
$header-height: 6.2rem;
$footer-height: 2rem;
$global-nav-height: 2rem;
$gradient-height: 1rem;
$post-head-line-height: 1.5rem;
$content-margin: 16px;
