@use "_metrics.scss" as *;
@use "../common/_colors.scss";
@use "../common/_post.scss";

#global-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: $global-nav-height;
    color: colors.$menu-dim;
    transform: translateZ(100px);

    h2 {
        display: none;
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-start;

        li:not(:last-child)::after {
            content: "/";
            margin: 0 0.33em;
        }
    }

    a {
        color: colors.$menu;
    }
    @include colors.link-hover;
}

#pager-nav {
    grid-column: 1/-1;
    grid-row: 3;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 20;
    margin: 0;
    width: 100%;
    max-width: $max-width;
    color: colors.$menu-dim;

    ul {
        position: absolute;
        display: flex;
        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-end;

        li:not(:first-child)::before {
            content: "/";
            margin: 0 0.33em;
        }

        li + li:empty::before, li:empty + li::before {
            content: none;
        }
    }

    a {
        color: colors.$menu;
    }
    @include colors.link-hover;
}

#side-nav {
    grid-column: -2;
    grid-row: 2 / -1;

    #side-nav-content {
       position: fixed;
       width: $sidebar-width;
       top: $header-height - 0.5 * $gradient-height;
       bottom: $footer-height + $gradient-height;
       font-feature-settings: "tnum";
       overflow-y: scroll;
    }

    &.admin {
        display: none;
    }
}
