@charset "utf-8";
@font-face {
    // 三点リーダ対策
    font-family: "ellipsis";
    src: local("Hiragino Sans"), local("HiraginoSans-W3");
    unicode-range: U+2026;
}

$max-width: 832px;
$sidebar-width: 144px;
$sidebar-margin: 16px;
$header-height: 100px;
$footer-height: 24px;
$global-nav-height: 20px;
$gradient-height: 2ex;
$background-color: #faf8f4;
$border-color1: #ddd;
$border-color2: #eee;
$text-color: #222;
$text-color-dim: #999;
$link-color-hover: #448;
$menu-color: #999;
$menu-color-dim: #ddd;
$input-color: #eee;
$focused-input-color: #e3e3e3;
$main-font-family: "ellipsis", -apple-system, BlinkMacSystemFont, Arial, "Hiragino Sans", "Yu Gothic Medium", Meiryo, sans-serif;

@mixin link-hover {
    a {
        &:hover {
            color: $link-color-hover;
        }
    }
}

@mixin post-head-style {
    font-feature-settings: "pkna" 1;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-align: start;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
@include link-hover;

body {
    display: grid;
    grid-template-columns: calc(100% - #{$sidebar-width} - #{$sidebar-margin}) $sidebar-margin auto;
    grid-template-rows: $header-height auto $footer-height;
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    max-width: $max-width;
    font-size: small;
    background-color: $background-color;
    color: $text-color;
    line-height: 100%;

    > header {
        grid-column: 1;
        grid-row: 1;
        position: sticky;
        top: 0;
        z-index: 10;
        height: $header-height;
        background-color: $background-color;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
            height: $gradient-height;
            background: linear-gradient(to top, rgba($background-color, 0), $background-color);
            pointer-events: none;
        }

        h1 {
            box-sizing: border-box;
            height: $header-height - $global-nav-height;
            margin: 0;
            padding: 22px 0 32px;
            line-height: 26px;
            font-size: 26px;
            font-weight: normal;
        }
    }

    > main {
        grid-column: 1;
        grid-row: 2;
        margin: $gradient-height 0;
        font-family: $main-font-family;

        &.admin {
            grid-column: 1 / -1;
        }
    }

    > footer {
        grid-column: 1 / -1;
        grid-row: 3;
        position: sticky;
        bottom: 0;
        z-index: 10;
        background-color: $background-color;

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 100%;
            width: 100%;
            height: $gradient-height;
            background: linear-gradient(to bottom, rgba($background-color, 0), $background-color);
            pointer-events: none;
        }
    }
}

#global-nav {
    height: $global-nav-height;
    color: $menu-color-dim;
    transform: translateZ(100px);

    h2 {
        display: none;
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li:not(:last-child)::after {
            content: "/";
            margin: 0 0.33em;
        }
    }

    a {
        color: $menu-color;
    }
    @include link-hover;
}

#pager-nav {
    position: fixed;
    top: $header-height - $global-nav-height;
    z-index: 20;
    margin: 0;
    width: 100%;
    max-width: $max-width;
    color: $menu-color-dim;

    ul {
        position: absolute;
        display: flex;
        right: 0;
        height: $global-nav-height;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-end;

        li:not(:first-child)::before {
            content: "/";
            margin: 0 0.33em;
        }

        li + li:empty::before, li:empty + li::before {
            content: none;
        }
    }

    a {
        color: $menu-color;
    }
    @include link-hover;
}

#side-nav {
    grid-column: -2;
    grid-row: 2 / -1;

    #side-nav-content {
       position: fixed;
       width: $sidebar-width;
       margin-top: $gradient-height;
    }

    @mixin side-nav-table {
        width: 100%;
        text-align: center;
        table-layout: fixed;

        caption {
            color: $menu-color;

            button {
                margin: 0;
                padding: 0 .33em;
                color: inherit;
                font: inherit;
                background: inherit;
                border: none;
                cursor: pointer;
                &:hover {
                    color: $link-color-hover;
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }
        }

        th {
            margin: 0;
            padding: 0;
            font-size: 7pt;
            color: $menu-color;
            line-height: 140%;
        }

        td {
            margin: 0;
            padding: 0;
            font-size: 9pt;
            color: $menu-color-dim;
            line-height: 140%;

            a {
                color: $menu-color;
            }
            @include link-hover;
        }
    }

    table#calendar {
        @include side-nav-table;
        border-spacing: 2px;

        caption {
            font-size: 9pt;
        }
    }

    table.year-month {
        @include side-nav-table;
        margin-top: 1ex;
        text-align: left;
        border-spacing: 0;

        caption {
            display: inline;
            font-weight: 600;
            font-size: 8pt;
        }

        tbody {
            display: block;
            height: 2.5em;
            transition: all 200ms ease-out;
            overflow: hidden;
            text-align: center;
            opacity: 1;

            &:not(.expanded) {
                line-height: 0;
                height: 0;
                opacity: 0;
            }

            tr {
                display: flex;

                td {
                    flex: 1;
                }
            }
        }
    }

    &.admin {
        display: none;
    }
}

main {
    h3 {
        position: relative;
        height: auto;
        z-index: 1;
        margin: 0;
        line-height: 19px;
        vertical-align: middle;
        border-bottom: 1px solid $border-color1;
        font-size: 140%;
        font-weight: normal;
        @include post-head-style;
    }

    h4 {
        margin: 1.5ex 0 1ex;
        @include post-head-style;
        font-weight: bold;
    }

    p {
        margin: 1ex 0;
    }

    dl {
        margin-block-start: 2ex;

        dt {
            font-weight: 500;
            & + dd {
                margin: 0.5ex 1.5em 1.5ex;
            }

            &.inactive, &.inactive + dd {
                color: $text-color-dim;
            }
        }
    }
}

article {
    position: relative;

    hr {
        display: block;
        height: 0;
        margin: 2ex 6em;
        border-style: none;
        border-top: 1px solid $border-color2;
    }

    p {
        margin: 2ex 0;
        font-size: 90%;
        line-height: 170%;
        text-indent: 1em;
        overflow: hidden;
    }

    > aside {
        position: absolute;
        z-index: 0;
        bottom: calc(100% - 4.6ex);
        text-align: right;
        width: 100%;
    }

    time {
        display: block;
        height: 100%;
        line-height: 100%;
    }

    time.created-at::before {
        content: "posted at:\2005";
    }

    time.updated-at::before {
        content: "updated at:\2005";
    }
}

form {
    fieldset {
        border: none;
        margin: 1ex 0 2ex;
        padding: 0;
    }

    input[type=text], input[type=password], textarea {
        box-sizing: border-box;
        display: block;
        margin: 0;
        padding: 0.5ex 0.5em;
        width: 100%;
        border: 1px solid $border-color1;
        background-color: $input-color;
        font-family: monospace;
        line-height: 2.5ex;

        &:focus {
            background-color: $focused-input-color;
        }
    }

    input[type=submit], input[type=button], button {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 3.5em;
        height: 4ex;
        border: 1px solid $border-color1;
        color: $text-color;
        background-color: $input-color;
        text-align: center;
        font-size: 100%;
        font-weight: 400;
        line-height: 100%;

        &:hover {
            background-color: $focused-input-color;
        }

        &:active {
            background-color: $border-color1;
        }
    }

    textarea {
        height:
        calc(
            100vh
            - #{$header-height}
            - #{$footer-height}
            - 4ex /* main margin */
            - 1.4em /* h3 height */
            - 3ex /* fieldset margin */
            - 2.5ex - 0.9em /* h4 */
            - 2ex - 2.5ex /* p(input) margin + input */
            - 2.5ex - 0.9em /* h4 */
            - 2ex /* p(textarea) margin */
            - 2ex - 4ex /* p(input) margin + input */
            - 2ex - 4ex /* form p(input) margin + button */
            );
    }

    &#form-delete {
        margin: 0;
        padding: 0;
        margin-top: calc(-1ex - 4ex);
        margin-left: calc(3.5em + 1em);
    }
}

article {
    p {
        font-feature-settings: "palt" 1;
        letter-spacing: 0.03rem;
        text-align: justify;
        font-weight: 400;
    }
    span.yakumono-punctuation + span.non-yakumono,
    span.yakumono-punctuation + span.yakumono-open-bracket,
    span.non-yakumono + span.yakumono-open-bracket,
    span.yakumono-close-bracket + span.non-yakumono,
    span.yakumono-close-bracket + span.yakumono-open-bracket  {
        &::before {
            display: inline-block;
            content: "";
            width: 0.5em;
        }
    }
    span.yakumono-interpunct {
        &::before {
            display: inline-block;
            content: "";
            width: 0.25em;
        }
        &::after {
            display: inline-block;
            content: "";
            width: 0.25em;
        }
    }
}
