@charset "utf-8";
$max-width: 832px;
$sidebar-width: 144px;
$header-height: 100px;
$global-nav-height: 20px;
$background-color: #faf8f4;
$border-color1: #ddd;
$border-color2: #eee;
$text-color: #222;
$text-color-dim: #999;
$link-color-hover: #448;
$menu-color: #999;
$menu-color-dim: #ddd;

@mixin link-hover {
    a {
        &:hover {
            color: $link-color-hover;
        }
    }
}

@mixin post-text-style {
    font-family: -apple-system, BlinkMacSystemFont, Arial, "Hiragino Sans", "Yu Gothic Medium", Meiryo, sans-serif;
    font-feature-settings: "palt" 1;
    letter-spacing: 0.05em;
    text-align: justify;
    font-weight: 300;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
@include link-hover;

body {
    display: grid;
    grid-template-columns: calc(100% - #{$sidebar-width}) 1fr;
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: $max-width;
    font-size: small;
    background-color: $background-color;
    color: $text-color;
    line-height: 100%;

    $gradient-height: 32px;

    > header {
        grid-column: 1 / -1;
        position: sticky;
        top: 0;
        z-index: 10;
        height: $header-height;
        margin-bottom: $gradient-height;
        background-color: $background-color;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
            height: $gradient-height;
            background: linear-gradient(to top, rgba($background-color, 0), $background-color);
            pointer-events: none;
        }

        h1 {
            box-sizing: border-box;
            height: #{$header-height - $global-nav-height};
            margin: 0;
            padding: 22px 0 32px;
            line-height: 26px;
            font-size: 26px;
            font-weight: normal;
        }
    }

    > main {
        grid-column: 1;
    }

    > footer {
        grid-column: 1 / -1;
        position: sticky;
        bottom: 0;
        z-index: 10;
        margin-top: $gradient-height;
        background-color: $background-color;

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 100%;
            width: 100%;
            height: $gradient-height;
            background: linear-gradient(to bottom, rgba($background-color, 0), $background-color);
            pointer-events: none;
        }
    }
}

#global-nav {
    height: $global-nav-height;
    color: $menu-color-dim;
    transform: translateZ(100px);

    h2 {
        display: none;
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li:not(:last-child)::after {
            content: "/";
            margin: 0 0.33em;
        }
    }

    a {
        color: $menu-color;
    }
    @include link-hover;
}

#pager-nav {
    position: fixed;
    top: #{$header-height - $global-nav-height};
    z-index: 20;
    margin: 0;
    width: 100%;
    max-width: $max-width;
    color: $menu-color-dim;

    ul {
        position: absolute;
        display: flex;
        right: 0;
        height: $global-nav-height;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-end;

        li:not(:last-child)::after {
            content: "/";
            margin: 0 0.33em;
        }
    }

    a {
        color: $menu-color;
    }
    @include link-hover;
}

#side-nav {
    grid-column: -2;

    #side-nav-content {
       position: fixed;
       width: $sidebar-width;
    }

    @mixin side-nav-table {
        width: 100%;
        text-align: center;
        table-layout: fixed;

        caption {
            color: $menu-color;

            button {
                margin: 0;
                padding: 0 .33em;
                color: inherit;
                font: inherit;
                background: inherit;
                border: none;
                cursor: pointer;
                &:hover {
                    color: $link-color-hover;
                }
                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }
        }

        th {
            margin: 0;
            padding: 0;
            font-size: 7pt;
            color: $menu-color;
            line-height: 140%;
        }

        td {
            margin: 0;
            padding: 0;
            font-size: 9pt;
            color: $menu-color-dim;
            line-height: 140%;

            a {
                color: $menu-color;
            }
            @include link-hover;
        }
    }

    table#calendar {
        @include side-nav-table;
        border-spacing: 2px;

        caption {
            font-size: 9pt;
        }
    }

    table.year-month {
        @include side-nav-table;
        margin-top: 1ex;
        text-align: left;
        border-spacing: 0;

        caption {
            display: inline;
            font-weight: 600;
            font-size: 8pt;
        }

        tbody {
            display: block;
            height: 2.5em;
            transition: all 200ms ease-out;
            overflow: hidden;
            text-align: center;
            opacity: 1;

            &:not(.expanded) {
                line-height: 0;
                height: 0;
                opacity: 0;
            }

            tr {
                display: flex;

                td {
                    flex: 1;
                }
            }
        }
    }
}

article {
    position: relative;
    margin-right: 1em;

    h3 {
        height: auto;
        line-height: 19px;
        vertical-align: middle;
        border-bottom: 1px solid $border-color1;
        font-size: 18px;
        font-weight: normal;
        @include post-text-style;
    }

    hr {
        display: block;
        height: 0;
        margin: 2ex 6em;
        border-style: none;
        border-top: 1px solid $border-color2;
    }

    p {
        margin: 2ex 0;
        font-size: 90%;
        line-height: 170%;
        text-indent: 1em;
        overflow: hidden;
        @include post-text-style;
    }

    > aside {
        position: absolute;
        bottom: calc(100% - 4.6ex);
        text-align: right;
        width: 100%;
    }

    time {
        display: block;
        height: 100%;
        line-height: 100%;
    }

    time.created-at::before {
        content: "posted at:\2005";
    }

    time.updated-at::before {
        content: "updated at:\2005";
    }
}
