@charset "utf-8";
@use "scss/default/metrics.scss" as *;
@use "scss/default/article.scss";
@use "scss/common/colors.scss";
@use "scss/common/post.scss";
@use "scss/common/calendar.scss" with (
    $header-font-size: 0.9rem,
    $font-size: 1rem,
);
@use "scss/common/form.scss" with (
    $new-post-textarea-height: calc(
        100vh
        - #{$header-height}
        - #{$footer-height}
        - 2rem /* main margin */
        - #{$post-head-line-height} - 1px /* h3 height + border */
        - 1.5rem /* fieldset margin */
        - 0.75rem - 1rem /* h4 top margin + h4 */
        - #{$post-paragraph-vertical-margin} - 1.25rem - 1rem /* p(input) margin + input + p(input) margin */
        - 1rem /* h4 */
        - 2rem /* p(textarea) margin */
        - #{$post-paragraph-vertical-margin} - 2em /* p(input) margin + input */
        - #{$post-paragraph-vertical-margin} - 2em /* form p(input) margin + button */
        ),
);

@font-face {
    // 三点リーダ対策
    font-family: "ellipsis";
    src: local("Hiragino Sans"), local("HiraginoSans-W4"), local("Yu Gothic Medium"), local("Meiryo");
    unicode-range: U+2026;
}

:root {
    font-size: 12px;
    font-family: "ellipsis", -apple-system, BlinkMacSystemFont, Arial, "Hiragino Sans", "Yu Gothic Medium", Meiryo, sans-serif;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%; // for iPhone Safari
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
@include colors.link-hover;

body {
    display: grid;
    grid-template-columns: calc(100% - #{$sidebar-width} - #{$sidebar-margin}) $sidebar-margin auto;
    grid-template-rows: $header-height auto $footer-height;
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    max-width: $max-width;
    background-color: colors.$background;
    color: colors.$text;
    line-height: 1;

    > header {
        grid-column: 1;
        grid-row: 1;
        position: sticky;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        top: 0;
        z-index: 10;
        height: $header-height;
        background-color: colors.$background;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            width: 100%;
            height: $gradient-height;
            background: linear-gradient(to top, rgba(colors.$background, 0), colors.$background);
            pointer-events: none;
        }

        h1 {
            margin: 0.6em 0 calc(0.2em - 1px);
            padding: 0 0 1px;
            width: 115px;
            height: 25px;
            line-height: 1em;
            color: transparent;
            background: url(andante.png) no-repeat 0 1px;
            background: -webkit-image-set(url(andante.png) 1x, url(andante@2x.png) 2x, url(andante@3x.png) 3x) no-repeat 0 1px;
            background: image-set(url(andante.png) 1x, url(andante@2x.png) 2x, url(andante@3x.png) 3x) no-repeat 0 1px;
            background: url(andante.svg) no-repeat 0 1px;
            font-family: Verdana, sans-serif;
            font-size: 2.4rem;
            font-weight: normal;
        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            font-weight: normal;
            color: colors.$text-dim;
            font-feature-settings: "tnum";

            &::before {
                display: inline-block;
                vertical-align: 0.15ex;
                content: "::";
                margin: 0 0.1rem 0 0.1rem;
            }
        }
    }

    > main {
        grid-column: 1;
        grid-row: 2;
        margin: $gradient-height 0;

        &.admin {
            grid-column: 1 / -1;
        }
    }

    > footer {
        grid-column: 1 / -1;
        grid-row: 3;
        display: flex;
        align-items: center;
        position: sticky;
        bottom: 0;
        z-index: 10;
        color: colors.$text-dim;
        background-color: colors.$background;

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 100%;
            width: 100%;
            height: $gradient-height;
            background: linear-gradient(to bottom, rgba(colors.$background, 0), colors.$background);
            pointer-events: none;
        }
    }
}

#global-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: $global-nav-height;
    color: colors.$menu-dim;
    transform: translateZ(100px);

    h2 {
        display: none;
    }

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-start;

        li:not(:last-child)::after {
            content: "/";
            margin: 0 0.33em;
        }
    }

    a {
        color: colors.$menu;
    }
    @include colors.link-hover;
}

#pager-nav {
    grid-column: 1/-1;
    grid-row: 3;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 20;
    margin: 0;
    width: 100%;
    max-width: $max-width;
    color: colors.$menu-dim;

    ul {
        position: absolute;
        display: flex;
        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-end;

        li:not(:first-child)::before {
            content: "/";
            margin: 0 0.33em;
        }

        li + li:empty::before, li:empty + li::before {
            content: none;
        }
    }

    a {
        color: colors.$menu;
    }
    @include colors.link-hover;
}

#side-nav {
    grid-column: -2;
    grid-row: 2 / -1;

    #side-nav-content {
       position: fixed;
       width: $sidebar-width;
       margin-top: -0.5 * $gradient-height;
       font-feature-settings: "tnum";
    }

    &.admin {
        display: none;
    }
}

main {
    h3 {
        @include post.header;

        position: relative;
        z-index: 1;
        margin: 0;
        vertical-align: middle;
        border-bottom: 1px solid colors.$border1;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
    }

    dl {
        margin-block-start: 1em;

        dt {
            font-weight: bold;

            & + dd {
                margin: 0.25em 1.5em 0.75em;
            }

            &.inactive, &.inactive + dd {
                color: colors.$text-dim;
            }
        }
    }
}
