{% extends "../admin.html" %}

{%- block content -%}
    <header>
        <h3>設定</h3>
    </header>
    <form id="form-create" method="POST" action="/admin/update-config">
        <fieldset>
            <h4>
                <label for="config-form-about">aboutページ</label>
            </h4>
            <p>
                <textarea name="about" id="config-form-about">{{ context.config.about }}</textarea>
            </p>
        </fieldset>
        <p>
            <button type="button" onClick="submit();">送信</button>
        </p>
    </form>
{%- endblock -%}
