{% extends "../base.html" %}

{% block content %}
    <header>
        <h3>記事の作成</h3>
    </header>
    <form method="POST" action="/admin/create">
        <fieldset>
            <h4>
                <label for="post-form-title">タイトル</label>
            </h4>
            <p>
                <input type="text" name="title" id="post-form-title" />
            </p>
            <h4>
                <label for="post-form-body">本文</label>
            </h4>
            <p>
                <textarea name="body" id="post-form-body"></textarea>
            </p>
        </fieldset>
        <p>
            <input type="submit" value="送信"></input>
        </p>
    </form>
{% endblock %}
