@use "_colors.scss";
@use "_metrics.scss" as *;

@font-face {
    // 三点リーダ対策
    font-family: "ellipsis";
    src: local("Hiragino Sans"), local("HiraginoSans-W3"), local("Yu Gothic Medium"), local("Meiryo"), local("Noto Sans CJK JP");
    unicode-range: U+2026;
}

:root {
    font-size: 12px;
    font-family: "ellipsis", -apple-system, BlinkMacSystemFont, Arial, "Hiragino Sans", "Yu Gothic Medium", Meiryo, sans-serif;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%; // for iPhone Safari
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
@include colors.link-hover;

body > header {
    h1 {
        $baseline-adjustment: 1px;
        margin: $title-top-margin 0 calc(#{$title-bottom-margin} - #{$baseline-adjustment});
        padding: 0 0 $baseline-adjustment;
        width: $title-width;
        height: $title-height;
        line-height: 1em;
        color: transparent;
        background: url(andante.png) no-repeat 0 $baseline-adjustment;
        background: -webkit-image-set(url(andante.png) 1x, url(andante@2x.png) 2x, url(andante@3x.png) 3x) no-repeat 0 $baseline-adjustment;
        background: image-set(url(andante.png) 1x, url(andante@2x.png) 2x, url(andante@3x.png) 3x) no-repeat 0 $baseline-adjustment;
        background: url(andante.svg) no-repeat 0 $baseline-adjustment;
        font-family: Verdana, sans-serif;
        font-size: 28.8px;
        font-weight: normal;

        a {
            -webkit-touch-callout: none;
        }

        a:hover {
            color: inherit;
        }
    }

    h2 {
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1;
        color: colors.$text-dim;
        font-feature-settings: "tnum";

        &::before {
            $baseline-adjustment: 0.09em;
            display: inline-block;
            vertical-align: $baseline-adjustment;
            content: "::";
            margin: -$baseline-adjustment 0.1em 0 0.15em;
        }
    }
}

main {
    h3 {
        font-feature-settings: "pkna" 1;
        letter-spacing: 0.03em;
        text-align: start;
    }

    dl {
        margin-block-start: 1em;

        dt {
            font-weight: bold;

            & + dd {
                margin: 0.25em 1.5em 0.75em;
            }

            &.inactive, &.inactive + dd {
                color: colors.$text-dim;
            }

            button {
                margin: 0;
                padding: 0;
                color: inherit;
                font: inherit;
                background: inherit;
                border: none;
                cursor: pointer;

                &:hover {
                    color: colors.$link-hover;
                }

                &:focus:not(:focus-visible) {
                    outline: none;
                }
            }
        }
    }

    & > ul {
        padding-inline-start: 1.8em;

        li {
            line-height: 1.7;
        }
    }
}

body > footer {
    address {
        font-style: normal;

        picture, img {
            vertical-align: bottom;
        }
    }
}

#global-nav button {
    margin: 0;
    padding: 0;
    color: colors.$menu;
    font: inherit;
    background: inherit;
    border: none;
    cursor: pointer;

    &:hover {
        color: colors.$link-hover;
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }
}
