@use "_colors.scss";

@font-face {
    // 三点リーダ対策
    font-family: "ellipsis";
    src: local("Hiragino Sans"), local("HiraginoSans-W4"), local("Yu Gothic Medium"), local("Meiryo"), local("Noto Sans CJK JP");
    unicode-range: U+2026;
}

:root {
    font-size: 12px;
    font-family: "ellipsis", -apple-system, BlinkMacSystemFont, Arial, "Hiragino Sans", "Yu Gothic Medium", Meiryo, sans-serif;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%; // for iPhone Safari
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
@include colors.link-hover;

body > header {
    h1 {
        $baseline-adjustment: 1px;
        margin: 0.6em 0 calc(0.2em - #{$baseline-adjustment});
        padding: 0 0 $baseline-adjustment;
        width: 115px;
        height: 25px;
        line-height: 1em;
        color: transparent;
        background: url(andante.png) no-repeat 0 $baseline-adjustment;
        background: -webkit-image-set(url(andante.png) 1x, url(andante@2x.png) 2x, url(andante@3x.png) 3x) no-repeat 0 $baseline-adjustment;
        background: image-set(url(andante.png) 1x, url(andante@2x.png) 2x, url(andante@3x.png) 3x) no-repeat 0 $baseline-adjustment;
        background: url(andante.svg) no-repeat 0 $baseline-adjustment;
        font-family: Verdana, sans-serif;
        font-size: 28.8px;
        font-weight: normal;
    }

    h2 {
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1;
        color: colors.$text-dim;
        font-feature-settings: "tnum";

        &::before {
            $baseline-adjustment: 1px;
            display: inline-block;
            vertical-align: $baseline-adjustment;
            content: "::";
            margin: -$baseline-adjustment 0.1em 0 0.15em;
        }
    }
}

main {
    h3 {
        font-feature-settings: "pkna" 1;
        letter-spacing: 0.03em;
        text-align: start;
    }

    dl {
        margin-block-start: 1em;

        dt {
            font-weight: bold;

            & + dd {
                margin: 0.25em 1.5em 0.75em;
            }

            &.inactive, &.inactive + dd {
                color: colors.$text-dim;
            }
        }
    }
}
