@use "_colors.scss";

@font-face {
    // 三点リーダ対策
    font-family: "ellipsis";
    src: local("Hiragino Sans"), local("HiraginoSans-W4"), local("Yu Gothic Medium"), local("Meiryo"), local("Noto Sans CJK JP");
    unicode-range: U+2026;
}

:root {
    font-size: 12px;
    font-family: "ellipsis", -apple-system, BlinkMacSystemFont, Arial, "Hiragino Sans", "Yu Gothic Medium", Meiryo, sans-serif;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%; // for iPhone Safari
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}
@include colors.link-hover;

main {
    h3 {
        font-feature-settings: "pkna" 1;
        letter-spacing: 0.03em;
        text-align: start;
    }

    dl {
        margin-block-start: 1em;

        dt {
            font-weight: bold;

            & + dd {
                margin: 0.25em 1.5em 0.75em;
            }

            &.inactive, &.inactive + dd {
                color: colors.$text-dim;
            }
        }
    }
}
