@use "_colors.scss";
@use "_metrics.scss" as *;

@mixin body {
    hr {
        display: block;
        height: 0;
        margin: $post-paragraph-vertical-margin 6em;
        border-style: none;
        border-top: 1px solid colors.$border2;
    }

    p {
        margin: $post-paragraph-vertical-margin 0;
        overflow: hidden;
        text-indent: 1em;
        text-align: justify;
        line-height: 1.7;
        letter-spacing: 0.01em;
        font-weight: 300;
    }

    span.yakumono-punctuation {
        + span.yakumono-open-bracket {
            // 句読点後の開き括弧はアキなし
            margin-inline-start: -0.5em;
        }

        + span.yakumono-close-bracket {
            // 句読点後の閉じ括弧は詰める
            margin-inline-start: -0.5em;
        }
    }

    span.yakumono-open-bracket {
        &:first-child {
            // 段落先頭の開き括弧は詰める
            margin-inline-start: -0.5em;
        }

        + span.yakumono-open-bracket {
            // 開き括弧の連続はアキなし
            margin-inline-start: -0.5em;
        }
    }

    span.yakumono-close-bracket {
        + span.yakumono-open-bracket {
            // 閉じ括弧後の開き括弧はアキなし（閉じ括弧の二分アキのみ）
            margin-inline-start: -0.5em;
        }

        + span.yakumono-close-bracket, + span.yakumono-punctuation {
            // 閉じ括弧の連続・閉じ括弧後の句読点は前方アキ打ち消し
            margin-inline-start: -0.5em;
        }
    }

    span.yakumono-interpunct {
        &:first-child {
            // 段落先頭に来る場合は箇条書きとみなして字下げを無視する
            margin-inline-start: -1em;
        }
    }
}
